@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'react-toastify/dist/ReactToastify.css';

@theme {
  --font-Raleway: 'Raleway', 'sans-serif';
  --color-purple: rgb(199, 112, 240);
}

body {
  font-size: 19.2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: #030014;
}
html {
  scroll-behavior: smooth;
}
